.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    #dd{
        text-align: center !important;
      }
      #dd:hover{
        background-color: #CF6714 !important;
        font-size:18px !important;
        border-radius: 5px;
      }

      .tamaño-icono{
        font-size: 80px !important;
        padding: 0px !important;
        margin: 0px !important;
        
        }
        #boton:hover{
          background-color:#AFA586 !important;
          color: black !important;
        }