<!--DIEGO PATZAN-->

<div class="row justify-content-center align-items-center" >
  <div class="col-12 ">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <i class="bi bi-building"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center text-white" id="navbarNav">
          <ul class="nav navbar-nav pull-xs-center">

            <li class="nav-item mx-5 ">
              <a id="dd" class="nav-link text-white" [routerLink]="['/usuario/dash-board', idEmpresa]" routerLinkActive="active">Volver <i
                  class="bi bi-arrow-left-short"></i></a>
            </li>
            <li class="nav-item mx-2 ">

            </li>
            <li class="nav-item mx-5 ">
              <a (click)="logOut()" id="dd" class="nav-link text-white" routerLink="/" routerLinkActive="active">Inicio <i
                  class="bi bi-clipboard-check"></i></a>
            </li>
            <li class="nav-item mx-2 ">

            </li>


            <!--<div id="dd" class="dropdown" style="position: relative; z-index: 3"
              *ngIf="_usuarioService.obtenerIdentidad()">
              <button style="color: whitesmoke;" class="btn dropdown-toggle dd2" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ _usuarioService.obtenerIdentidad().nombre }} <i class="bi bi-person-badge"></i>
              </button>
              <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">

                <div style="background-color: #222830 ">
                  <a class="dropdown-item" style="background-color: #222830">
                    <img src="assets/images/iconoUsuario.png" style="width: 120px;height: 120px">
                  </a>
                </div>

                <a [routerLink]="['/usuario/editarPerfil/', idEmpresa]" style="color: #222830;" class="dropdown-item">
                  {{ _usuarioService.obtenerIdentidad().nombre }}
                </a>

                <div>
                  <hr class="dropdown-divider">
                </div>

                <div class="dropdown-item" style="background-color: #E74C3C; color: #222830">
                  <a (click)="logOut()" routerLink="/inicio" routerLinkActive="active" class="dropdown-item"
                    style="background-color: #E74C3C;color: #222830">↤ SALIR</a>
                </div>
              </div>
            </div>-->


          </ul>
        </div>
      </div>

    </nav>
  </div>
</div>
<body>
  

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <div class="card mb-4">
          <div class="card-header ">
          </div>
          <div class="card-body color-fondo">
            <div class="container color-fondo text-white text-center">
              <div class="row">
                <div class="col-12 col-md-6">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000" >
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/images/Edificios (1).png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/images/fondo1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/images/iconBuil.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>
                </div>
                <div class="col-12 col-md-1"></div>
                <div class="col-12 col-md-5 justify-content-center align-items-center ">
                  <br><br>
                  <h1 *ngIf="_usuarioService.obtenerIdentidad()" class="mt-4"> {{ sucursalModelId.nombreSucursal }}</h1>
                  <hr><p>Una empresa que busca fortalecer su posición como líder mundial en el mercado, a
                     través de la innovación y el talento de las personas que trabajan en la organización. Nuestros valores reflejan
                    el negocio estructurado por un grupo de emprendedores que buscan innovar la industria.</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-12">
            <div class="row ">
              <div class="col-xl-6">
                <div class="card mb-4">

                  <div class="card-header" style="background-color: #e07c2a;">
                    <i class="fas fa-chart-area me-1"></i>
                    <i class="bi bi-file-earmark-text-fill"></i> Reporte de stock de productos
                  </div>

                  <div class="card-footer p-4 pt-0 bg-transparent border-top-20 " height="300000px">
                    <div style="display: block;">
                      <canvas baseChart 
                        chartType="bar"
                        [datasets]="chartData1"
                        [colors]="chartColors"
                        [labels]="chartLabels1"
                        [options]="chartOptions1"
                        [plugins]="chartPlugins1"
                        [legend]="chartLegend1">
                      </canvas>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header" style="background-color: #e07c2a;">
                    <i class="bi bi-file-earmark-text-fill"></i>
                            Reporte de productos vendidos
                  </div>


                  <div class="card" style="width: 100%;">
                    <div class="card-body justify-content-center alight-items-center">
                      <div style="display: block;">
                        <div style="display: block;">
                          <div style="display: block;">
                            <canvas baseChart chartType="pie" [data]="chartData" [colors]="chartColors"
                              [labels]="chartLabels" [options]="chartOptions" [plugins]="chartPlugins"
                              [legend]="chartLegend">
                            </canvas>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                          <!-- Button trigger modal -->
                          <button  id="botomOptionsAdd" style="background-color: #3C616C;" type="button"
                          class="btn btn-primary align-items-right" data-bs-toggle="modal"
                          data-bs-target="#exampleModalVentas" class="btn btn-primary col-2">
                            <i class="bi bi-cart-plus-fill"></i>  Venta de productos
                          </button>
                          <br><br>

        <div class="row ">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header" style="background-color: #222830;color: white;" >
                <div class="row">
                  <div class="col-md-8">

                    <i class="fas fa-table me-1 "></i>
                    <button type="button" class="btn color-botones " data-bs-toggle="modal" >
                      <i class="bi bi-caret-right-fill"></i>   
                    </button>
                       Productos de sucursal
                  </div>
                  
                  <div class="col-md-4">
                    <div class="input-group">
                      <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                      <button style="color: white" type="button" class="btn btn-outline-secondary"><i class="bi bi-search"></i> Buscar</button>
                      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" >Ordenar de mayor a menor</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" >Ordenar de meno a mayor</a></li>
                      </ul>
                    </div>                  
                  </div>
                </div>







                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header " style="background-color: #222830;">
                        <h5 style="color: white;" class="modal-title" id="exampleModalLabel">Agregar nuevo empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form class="was-validated">
                          <div class="mb-3">
                            <label class="form-label" for="usuario">Nombre</label>
                            <input type="text" class="form-control" name="usuario" id="usuario" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="usuario">Apellido</label>
                            <input type="text" class="form-control" name="usuario" id="usuario" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="usuario">Correo</label>
                            <input type="email" class="form-control" name="usuario" id="usuario" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="clave">Puesto</label>
                            <input type="password" class="form-control" name="clave" id="clave" required>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="clave">Imagen</label>
                            <input type="file" class="form-control" name="clave" id="clave" required>
                          </div>
                          <p class="text-danger"></p>
                        </form>
                      </div>
                      <div class="modal-footer " style="background-color: #222830;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn color-botones">Guardar cambios</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table class="table table-responsive  table-striped justify-content-center alight-items-center">
                <thead class=" justify-content-center alight-items-center">
                  <tr class="col-md-12 justify-center align-items-center">
                    <th class="col-md-3 text-center"> Nombre del producto </th>
                    <th class="col-md-3 text-center" scope="col">Stock</th>
                    <th class="col-md-3 text-center" scope="col">Vendido</th>
                    <th class="col-md-3 text-center" scope="col">Opciones</th>
                  </tr>

                </thead>
                <tbody>
                  <!-- Implementacion de ngFor -->
                  <tr *ngFor="let prod of sucursalesModelGet">
                    <td class="col-md-3" style="padding-left:3rem">{{prod.NombreProductoSucursal}}</td>
                    <td class="col-md-3 text-center">{{prod.StockSucursal}}</td>
                    <td class="col-md-3 text-center">{{prod.Vendido}}</td>

                    <td class="col-md-3 text-center" *ngIf="_usuarioService.obtenerIdentidad().rol === 'Empresa'">
  
                      <!-- Button trigger modal -->
                      <button id="botomOptionsEdit" style="background-color: #3C616C;" type="button"
                        class="btn btn-primary col-2" (click)="deleteProductos(prod._id)">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
  



  
                    </td>
                    <td *ngIf="_usuarioService.obtenerIdentidad().rol === 'ROL_ADMINISTRADOR'">Solo la empresa puede hacer esto</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </main>


  </div>


</body>

                      <!-- Modal Vender-->
                      <div class="modal fade text-left" id="exampleModalVentas" tabindex="-1" aria-labelledby="exampleModalTareaAgregar"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div style="background-color: #222830;" class="modal-header">
                            <h5 style="color: white;" class="modal-title" id="exampleModalLabel"><i class="bi bi-credit-card"></i> Venta Producto Sucursal
                            </h5>
                            <button type="button" class="btn-close" style="background-color: white" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" style="background-color: #EBF5FB;">
                            <form #Ventas="ngForm" class="was-validated" >
                              <div class="mb-3">
                                <label class="text-left" for="NombreProductoSucursal"> Nombre del producto </label>
                    
                                <select id="NombreProductoSucursal" style="width:100%; height: 2rem;" name="NombreProductoSucursal" 
                                #NombreSucursal="ngModel" [(ngModel)]="productoSucursalesModelGetId.NombreProductoSucursal" Ventas >
                                  <option  *ngFor="let producto of productoSucursalesModelGet" value={{producto.NombreProductoSucursal}}>{{producto.NombreProductoSucursal}}</option>
                                </select>
                                
                              </div>

                              <div class="mb-3">
                                <label class="form-label text-left "  for="usuario">Cantidad a Vender</label> 
                                <input type="Number" class="form-control"  id="Vendido" name="Vendido"  min="1"  
                                #Vendido="ngModel" [(ngModel)]="productoSucursalesModelGetId.Vendido" required>
                              </div>
                              <p class="text-danger"></p>
                            </form>
                          </div>
                          <div class="modal-footer" style="background-color: #222830;">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                            <button [disabled]="!Ventas.form.valid" type="button" class="btn btn-success"  data-bs-dismiss="modal" (click)="editarProductosSucursal(idSucursal,Ventas)" >Vender </button>
                          </div>
                        </div>
                      </div>
                      </div>

<app-footer></app-footer>
<router-outlet></router-outlet>

